<% provide(:title, 'All users') %>
<h1>Users</h1>
<% if current_user.has_role? :admin %>
  <%= link_to "Add user", new_user_path %>
<% end %>

<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
